@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Print styles */
@media print {
  @page {
    margin: 0;
    size: 80mm auto;
  }

  body {
    margin: 10mm;
  }

  .no-print {
    display: none !important;
  }
}
